.login{
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.login__left{
    position: relative;
    width: 50%;
    height: 60%;
    display: flex;
    justify-self: flex-end;
}

.login__rigth{
    position: relative;
    width: 30%;
    padding: 0 5%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-family: gil;
    font-size: 1.5rem;
    color: var(--leter-color);
    backdrop-filter: blur(20px);
    background-color: var(--color);
    border-radius: .5rem;
    padding: 1rem;
}

.login__rigth form{
    font-family: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 350px;
    height: 40vh;
}
.login__rigth form p{
    height: 1rem;
    font-size: .8rem;
}

.login__rigth form span{
    color: var(--primario);
    cursor: pointer;
}

.login__rigth :is(input, button){
    display: block;
    height: calc(3vh + 3vw);
    max-height: 7vh;
    width: calc(100% - 1rem);
    font-size: 3vh;
    border: none;
    caret-color: var(--primario);
    background-color: var(--primario2);
    padding: 0 .5rem;
    border-radius: .5rem;
    outline: none;
}

.login__rigth input::placeholder{
    color: var(--secundario);
}

.login__rigth button{
    width: 100%;
    background-color: var(--primario);
    color: var(--color);
    cursor: pointer;
}
.login__rigth h2:after{
    content: '👋';
}

.login__slogan{
    height: max-content;
    width: max-content;
    align-self: flex-end;
    font-size: calc(2.5vh + 2.5vw);
    font-family: gil;
    font-weight: 900;
    -webkit-text-stroke: 2px white;
    letter-spacing: 3px;
    text-shadow: 0 0 10px #000000;
    color: var(--color);
}

.login__slogan::before{
    content: '>';
    font-weight: 900;
    color: var(--primario);
}

.login__blur img{
    width: 100%;
    max-width: 350px;
}