:root{
  --color: #ffffff;
  --primario:#00b2ed; /* cyan process */
  --primario2: #ADEBFF50; /* non photo blue*/
  --secundario: #37606D; /* jet */
  --leter-color: #000020; /* xiketic */
  --spring-green: #37FF8B;
}

@font-face {
  font-family: gil;
  src: url(./Gilroy-Light.otf);
}

body{
  background-color: var(--color);
  overflow-x: hidden;
  width: 100vw;
}
main{
  display: flex;
  padding: .5rem;
  gap: .5rem;
}