:root{
  --color: #000020;
  --primario:#00b2ed;
  --secundario: #4e4e6a;
  --leter-color: white;
}

@font-face {
  font-family: gil;
  src: url(./Gilroy-Light.otf);
}

body{
  background-color: var(--secundario);
  backdrop-filter: contrast(2);
}
main{
  display: flex;
  padding: .5rem;
}